.pkmn_box {
    aspect-ratio: 1;
    box-sizing: content-box;
    position:relative;
    border-radius:12px;
    border: 3px solid #220A3D;
    cursor:pointer;
    display:flex;
}

.opacity_mask, .opacity_mask_banned {
    z-index:40;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:black; 
    opacity:.2;
}

.opacity_mask_banned {
    opacity:.5;
    z-index:90;
}
.bgn_mask {
    z-index:20;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.pkmn_image {
    scale:1.4;
    align-self:center;
    justify-self:center;
    z-index:60;
    position:absolute;
    top:32px;
    left:22%;
}

.pkmn_name {
    background:#220A3D;
    position:absolute;
    width:100%;
    height:25px;
    display:flex;
    align-items:center;
    justify-content:center;
    bottom:0;
    border-radius: 0 0 8px 8px;
    z-index:80;
}

.pkmn_name p {
    font-family:"Exo";
    color:white;
}

.ban_image {
    position:absolute;
    top:8px;
    left:8px;
    z-index:100;
    width:calc(100% - 16px);
    height:calc(100% - 25px - 16px);
}